@media #{$medium-up} {
  .tree {
    margin: rem-calc(16) 0 0 rem-calc(16);
    list-style-type: none;

    a {
      width: 100%;
      color: $grey-700;
      font-size: rem-calc(14);
      display: block;

      &:hover {
        color: $gwa-pink;
      }
    }

    input {
      position: absolute;
      clip: rect(0, 0, 0, 0);

      ~ ul {
        display: none;
      }

      &:checked ~ ul {
        display: block;
        margin-left: rem-calc(8);
      }
    }

    li {
      line-height: 1.2;
      position: relative;
      padding: 0 0 rem-calc(16) rem-calc(5);
      list-style-type: none;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -.5em;
        display: block;
        width: 0;
        border-left: 1px solid $gwa-pink;
        content: "";
      }

      &:last-child:before {
        height: rem-calc(16);
        bottom: auto;
      }
    }

    ul li {
      padding: rem-calc(16) 0 0 rem-calc(5);
      list-style-type: none;
    }

    > li:last-child {
      padding-bottom: 0;

      &:before {
        display: none;
      }
    }
  }

  .tree_label {
    position: relative;
    display: inline-block;
    color: $black;

    &:after {
      position: absolute;
      top: 0;
      left: -1.5em;
      display: block;
      height: 0.5em;
      width: 1em;
      border-bottom: 1px solid $gwa-pink;
      border-left: 1px solid $gwa-pink;
      border-radius: 0 0 0 .3em;
      content: '';
    }
  }

  label.tree_label {
    cursor: pointer;

    &:before {
      background: $gwa-pink;
      color: $white;
      position: relative;
      z-index: 1;
      float: left;
      margin: 0 1em 0 -2em;
      width: 1em;
      height: 1em;
      border-radius: 1em;
      content: '+';
      text-align: center;
      line-height: .9em;
    }

    &:after {
      border-bottom: 0;
    }
  }
  :checked ~ label.tree_label {

    &:before {
      content: '–';
    }

    &:after {
      border-radius: 0 .3em 0 0;
      border-top: 1px solid $gwa-pink;
      border-right: 1px solid $gwa-pink;
      border-bottom: 0;
      border-left: 0;
      bottom: 0;
      top: 0.5em;
      height: auto;
    }
  }
}
