body {
  font-size: rem-calc(14);
  font-weight: 400;
  line-height: rem-calc(20);
  color: $grey-700;
}

h1 {
  font-size: rem-calc(24);
  font-weight: 500;
  line-height: rem-calc(26.4);
}

h3 {
  font-size: rem-calc(14);
  font-weight: 500;
  line-height: rem-calc(15.4);
}

blockquote {
  font-size: rem-calc(21);
  font-weight: 400;
  line-height: rem-calc(30);
}

pre {
  font-size: rem-calc(13);
  font-weight: 400;
  line-height: rem-calc(18.5714);
}
