main > header {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  padding: 1em  0 0 0;
  background: material-color('red', '800');
  color: #e0e0e0;
  z-index: 4000;

  & > div {
    position: fixed;
    top: 0;
  }



    h2 {
      transition: 0.15s;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: rem-calc(6);

      a {
        color: material-color('grey', '100');
        text-decoration: none;
        &:hover {
          color: material-color('red', '100');
        }
      }
    }
}
