main {
  background: $white;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  article {
    margin-top: rem-calc(80);

    & > section {
      &.container {
        max-width: rem-calc(1000);
        margin: rem-calc(15) auto rem-calc(15) auto;
      }
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
