main {
  background: material-color('grey', '100');

  article {
    margin-top: rem-calc(80);

    & > section {
      &.container {
        max-width: rem-calc(1000);
        margin: rem-calc(15) auto rem-calc(15) auto;
      }
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
