// Grid width
$row-width: 100%;
$include-xl-html-grid-classes: true;

// Font
$body-font-family: 'Open Sans', sans-serif;

// We use these to control header font styles
$header-line-height: rem-calc(20);

// We use these to control header font sizes
$h1-font-size: rem-calc(24);
$h3-font-size: rem-calc(14);

// Colors
$white: #fff;
$gwa-pink: #E3023C;
$gwa-pink-dark: #a6002b;
$grey-700: #616161;
$grey-500: #9E9E9E;
$grey-300: #E0E0E0;
$grey-200: #EEEEEE;
