// Grid width
$row-width: 100%;
$include-xl-html-grid-classes: true;

// Font
$body-font-family: 'Open Sans', sans-serif;

// We use these to control header font styles
$header-line-height: rem-calc(20);

// We use these to control header font sizes
$h1-font-size: rem-calc(24);
$h3-font-size: rem-calc(14);
